In [1]:
import pandas as pd

df = pd.read_csv('MT745584.txt', header=None)
amino_acids = ('A', 'C', 'G', 'T')

stack = [''] # BFS로 접근
over_minsup = {'string': [], 'sup': []}
minsup = 10

display(df)

                                                     0
0    AAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGATCTC...
1    TCTAAACGAACTTTAAAATCTGTGTGGCTGTCACTCGGCTGCATGC...
2    CAGTATAATTAATAACTAATTACTGTCGTTGACAGGACACGAGTAA...
3    GCAGGCTGCTTACGGTTTCGTCCGTGTTGCAGCCGATCATCAGCAC...
4    CGGGTGTGACCGAAAGGTAAGATGGAGAGCCTTGTCCCTGGTTTCA...
..                                                 ...
493  CCGTTTACGATATATAGTCTACTCTTGTGCAGAATGAATTCTCGTA...
494  GTAGATGTAGTTAACTTTAATCTCACATAGCAATCTTTAATCAGTG...
495  GGACTTGAAAGAGCCACCACATTTTCACCGAGGCCACGCGGAGTAC...
496  TGAACAATGCTAGGGAGAGCTGCCTATATGGAAGAGCCCTAATGTG...
497           GTAGTGCTATCCCCATGTGATTTTAATAGCTTCTTAGGAG

[498 rows x 1 columns]

In [2]:
try_count = 0

while(len(stack) != 0):
    try_count += 1
    node = stack.pop()

    if node != '':
        sup = df.apply(lambda x: node in x[0], axis='columns')
        sup = sup.sum()
    else:
        sup = len(df)

    if sup < minsup:
        continue
    else:
        over_minsup['string'].append(node)
        over_minsup['sup'].append(sup)
        for acid in amino_acids: stack.append(f'{node}{acid}')

    print(f'{try_count:7d} strings have been checked. {len(stack):3d} strings are in stack.', end='\r')

In [3]:
result = pd.DataFrame(over_minsup)
display(result)

       string  sup
0              498
1           T  498
2          TT  498
3         TTT  382
4        TTTT  182
...       ...  ...
2290  AAAACAA   10
2291    AAAAA   51
2292   AAAAAT   16
2293   AAAAAG   21
2294   AAAAAC   15

[2295 rows x 2 columns]